// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  background-color: #eee;
  z-index: 0;
}

.container {
  width: 820px;
}

.content {
    margin-top: 40px;
    padding: 30px;
    background-color: #FFF;
    z-index: 1;
    @include border-radius(5px);
    @include box-shadow(0 3px 6px rgba(0,0,0,.25));
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: gray;
    a {
      color: darken(gray, 30%);
      & :hover {
        text-decoration: dotted;
      }
    }
}

.topbar {
  position:absolute;
  height: 40px;
  .fill {
    @include border-radius(5px);
  }
}

.topbar-wrapper {
  top: 20px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  position: relative;
  @include border-radius(5px);
}

.topbar .fill {
    background-color: #222;
    //@include vertical-gradient(#48036f, #5f2580);
}

