// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

body {
  background-color: #EEE;
  z-index: 0;
}

.container {
  width: 820px;
}

.content {
    margin-top: 60px;
    padding: 30px;
    padding-bottom: 5px;
    background-color: #FFF;
    z-index: 1;
    @include border-radius(5px);
    @include box-shadow(0 3px 6px rgba(0,0,0,.25));
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: gray;
}
