// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  ul li {
    list-style-type: none;
    display: inline-block;
    a {
      text-decoration: none;
      &:visited {
      color: #09c;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#flash {
    background: #eee;
    #error {
      color: red;
      border: 1px solid red;
    }

    #notice {
      color: green;
      border: 1px solid green;
    }
    #error {
      border: 1px solid red;
    }
}
