// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  ul li {
    list-style-type: none;
    display: inline-block;
    a {
      text-decoration: none;
      &:visited {
      color: #09c;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.flash {
    background: #eee;
    .error {
      color: red;
      border: 1px solid red;
    }

    .notice {
      color: green;
      border: 1px solid green;
    }
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
