%h1 Categories
= will_paginate @categories
%table
  - @categories.each do |category| 
    %tr
      = render category
= will_paginate @categories
= link_to 'New category', new_category_path, :class => "btn"
