<%# This partial must be in erb, because haml threats it illegal nesting #%>
<ul class = "nav secondary-nav">
  <li class = "dropdown" data-dropdown="dropdown">
    <%= link_to current_user.name, '#', :class => "dropdown-toggle" %>
    <ul class = "dropdown-menu">
      <li><%= link_to 'Profile', current_user %></li>
      <li class = "devider"></li>
      <li><%= link_to 'Sign out', signout_path, :method => :delete %></li>
    </ul>
  </li>
</ul>
